.container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container > div {
    width: 49%; /* Ensure both sections take equal width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width/height calculations */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 550px;
    border: none;
}

.form-section, .map-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-section {
    width: 100%;
    height: 100%;
}

.form-section h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: right; /* Align text to the right */
    direction: rtl; /* Ensure RTL direction */
}

textarea {
    height: 100px;
    text-align: right; /* Align text to the right */
    direction: rtl; /* Ensure RTL direction */
    resize: vertical;
}

button {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c9302c;
}

.contact-info {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.contact-info strong {
    color: #d9534f;
}